<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <style>
            .progress-bar-yellow {
                background-color:yellow;
            }
        </style>
            
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
    </head>
<body class="container">
<main>
    <% files.forEach(function(file,index) { 

        %>
    
    <div>
        <a href="#"  data-toggle="popover" data-html="true" title="Risks" data-content-div="file1overview_<%= index %>"><%= file.filename %> </a>
        <div id="file1overview_<%= index %>" class="hidden">
            <% include riskOverview %>
        </div>
    <div class="progress">
        <% 
        
        var riskText = "Low Risk";
        var fileResult = fileResults[file.filename];
        var riskClass = fileResult.riskClass;
        var progressClass = "progress-bar-" + riskClass.className;
        var riskFactorPercentage = riskClass.percentage;
        %>
        <div class="progress-bar <%= progressClass %>" role="progressbar" aria-valuenow="<%= riskFactorPercentage %>" aria-valuemin="0" aria-valuemax="100" 
             style="width: <%= riskFactorPercentage %>%"><%= riskText + " / " + Math.round(riskFactorPercentage) + "%" %>
        </div>
</div>
       
    </div>
    
    <% }) %>



</main>

<footer>
</footer>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'right',
        trigger : 'hover',
        html:true,
        content: function() {
            var id = $(this).data("content-div");
            return $("#" + id).html();
        }
    });   
});
</script>
</body>
</html>